<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/styles.css}"></link>
    <title>Taco Cloud</title>
</head>
<body>
<h1>Welcome to ...</h1>
<a th:href="@{/design}" id="another">
    <img th:src="@{/images/TacoCloud.png}" alt="img"/>
    <br/>Design taco
</a>
<a th:href="@{/orders/currentUser}" id="ordersHref">
    <br/>Show current user orders
</a>
<a th:href="@{/orders/all}" id="allOrdersHref">
    <br/>Show all orders
</a>

</body>
</html>